@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    /*border: 2px solid #ccc; */
    /* box-shadow: eixo-x eixo-y blur cor; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    display: block;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}
header h1 {
    text-transform: uppercase;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
}

section#banner {
    background-image: url('../img/jane.jpg');
    width: 100%;
    height: 73vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
 padding:10px;
 margin: 0;
 background-color: #f2f2f2;
 text-align: center;
}

main#about {
    text-align: center;
}

main#about p {
    color: #555;
}

main#about img {
size: cover;
height: 100%;
width: 40vw;
}
main#about h1 {
    padding-top: 80px; 
}

div ul {
    padding-left: 0; 
    list-style: none;
}

div ul li {
    padding-bottom: 15px;
}

/* Home v2 */

section#concept,
section#songs,
main#contact {
    width: 900px;
    margin: 30px auto;
}

section#songs img {
    width: 100%;
}

.duas-colunas > div {
    width: 50%;
    float: left;
}

.duas-colunas {
    overflow: hidden;
}

section#songs ol li {
    padding: 15px 0;
}

section#songs ol li strong {
    color: orange;
}

section#form-mapa iframe {
    width: 100%;
    height: 400px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 5px;
}

form .form-group {
    margin: 2px 0 10px;
}
form textarea {
    resize: none;
    height: 100px;
}

form button {
    
border: none;
padding: 5px, 20px;
background-color: orange;
color: white;
}

.mapa {
    padding-left: 20px;
}

main,
main#contact,
main#music {
    margin-top: 135px;
}

/* Posicionamento e Responsividade */

@media (max-width:900px) {
    section#concept,
    section#songs {
        padding: 0 40px;
    }

nav ul li {
    font-size: 24px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 18px;
}
}

@media (max-width: 768px) {
    .duas-colunas>div {
        width: 100%;
    }

    section#songs ol li {
        font-size: 24px;
    }

    main#music {
        padding: 0 40px;
    }

    main#music iframe {
        width: 100%;
    }
    
    main#music ul li,
    main#music p {
      font-size: 24px;
    }

    main#contact {
        padding: 0 40px;
    }

    main#contact form,
    main#contact input,
    main#contact form textarea {
        font-size: 24px;
    }

    main#contact form .form-group {
        margin-bottom: 20px;
    }
  main#contact form button{
    padding: 10px 30px;
    font-size: 22px;
  }

  main#contact .mapa{
    padding: 0;
    margin: 30px 0;
  }

}

@media (max-width: 425px){
  nav ul li{
    padding: 10px;
    font-size: 22px;
  }

  main#about{
    padding: 0 40px;
  }

  main#contact,
  section#songs {
      width: 100%;
  }

  section#concept {
      width: 100%;
      text-align: center;
  }
}